<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<!--  ////////////////////// Bootstrap /////////////////////// -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/lux/bootstrap.min.css">
	<!--  /////////////////////// JQuery //////////////////////// -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/bpopup/jquery.bpopup.min.js"></script>
    
    <!--  ///////////////////////// CSS ////////////////////////// -->
    <style>
    #card_1 { 
	overflow: hidden;
	text-overflow: clip;
	}
	.wrapper1 {
    float:none;
    width: 60%;
    margin: 100px auto;
	}
    </style>
    
    <!--  ////////////////////// JavaScript /////////////////////// -->
	<script type="text/javascript">
	$(function(){
    	$('#updateApplicant_5_btn').on("click", function(){
    		var applicantNo = $("div").find('#applicantNo').text().trim();
    		test(5,applicantNo)
    	});
    });
	
	$(function(){
    	$('#updateApplicant_3_btn').on("click", function(){
    		var applicantNo = $("div").find('#applicantNo').text().trim();
    		test(3,applicantNo)
    	});
    });
	
	function test(applicantStatus, applicantNo){
		$.ajax({
				url : "/applicant/json/updateApplicantStatus/"+applicantStatus+"/"+applicantNo,
				method : "get" ,
				dataType : "html" ,
				headers : {
					"Accept" : "application/json",
					"Content-Type" : "application/json"
				},
				success : function(JSONData , status) {
					console.log("성공")
					$('#deleteButton').empty();
					if(applicantStatus == '3'){
						$("#badge").attr('class', 'badge badge-pill badge-danger');
						$("#badge").text('거절');
					}else{
						$("#badge").attr('class', 'badge badge-pill badge-primary');
						$("#badge").text('참가중');
					}
				}
			})
		
	}
	$(function(){
    	$('#test_1').on("click", function(){
    		var ahref = window.location.href.substring(0,window.location.href.indexOf("&",0));
    		alert(ahref);
    		self.location = window.location.href + "&searchConditionB=1"
    	});
    });


	</script>
	
<title>appliedProjectList</title>
</head>
<body>
	
	<div class="wrapper1">
	<h4 class="display-3">신청한 프로젝트(팀원)</h4>
	<hr class="my-4">
	<span>
		<button id="button_period_1" type="button" class="btn btn-outline-secondary">
		<a href="/applicant/appliedProjectList?searchConditionA=1">
		1개월</button></a>
		<button id="button_period_2" type="button" class="btn btn-outline-secondary">
		<a href="/applicant/appliedProjectList?searchConditionA=2">
		2개월</button></a>
		<button id="button_period_3" type="button" class="btn btn-outline-secondary">
		<a href="/applicant/appliedProjectList?searchConditionA=3">
		3개월</button></a>
	</span>
	<span style="float:right;">
		<button id="test_1" type="button" class="btn btn-outline-secondary">
		대기</button></a>
		<button id="test_2" type="button" class="btn btn-outline-secondary">
		승인</button></a>
	</span>
	<div id="card_2" th:each="applicantVO : ${appliedList}" style="height:150px;">
       <div class="card h-100 ">
         <div id="card_1" class="card-body">
         	<div style="float: left; width: 80%;">
				<div th:if="${applicantVO.applicantStatus}==1">
					<span class="badge badge-info">대기</span>
				</div>
				<div id="badge" th:if="${applicantVO.applicantStatus}==2">
					<span class="badge badge-success">승인</span>
				</div>
				<div th:if="${applicantVO.applicantStatus}==3">
					<span class="badge badge-pill badge-danger">거절</span>
				</div>
				<div th:if="${applicantVO.applicantStatus}==4">
					<span class="badge badge-pill badge-dark">취소</span>
				</div>
				<div th:if="${applicantVO.applicantStatus}==5">
					<span class="badge badge-pill badge-primary">참가중</span>
				</div>
				<h4 class="card-title">
					<a href="#" th:text="${applicantVO.projectVO.projectName}"></a>
				</h4>
			</div>
			<div th:if="${applicantVO.applicantStatus}==2">
				<div id="deleteButton" style="float: right; width: 17%;">
					<button id="updateApplicant_5_btn" type="button" class="btn btn-success" style="width:70px;">수락</button>
					<button id="updateApplicant_3_btn" type="button" class="btn btn-danger" style="width:70px;">거절</button>
					<div id="applicantNo" style="display:none" th:text="${applicantVO.applicantNo}"/>
				</div>
			</div>
				<div style="float: left; width: 80%; height:100px;">
					<div class="card-text" th:text="${applicantVO.projectVO.projectDetail}"></div>
				</div>
				<div style="float: right; width: 17%;">
					<span>팀장명</span>
					<span style="float: right;" th:text="${applicantVO.projectVO.leaderId}"></span><p>
					<span>마감일</span>
					<span style="float: right;" th:text="${#dates.format(applicantVO.projectVO.applicationDeadline, 'MM/dd')}"></span><p>
				</div>
			</div>
			<div>
			<div style="height:32px;"/>
			</div>
			<div class="card-footer">
				<small class="text-muted">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
					<span th:text="${applicantVO.projectVO.meetingLocation}"/>
				</small>
			</div>
		</div>
	</div>	
	</div>
	
	
	
	

</body>
</html>