<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<link rel="stylesheet" href="/resources/css/style.css">
	<!--  ////////////////////// Bootstrap /////////////////////// -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/lux/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">
	<!--  /////////////////////// JQuery //////////////////////// -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/bpopup/jquery.bpopup.min.js"></script>
    
    <!--  ///////////////////////// CSS ////////////////////////// -->
    <style>
	body { 
	font-size: 130%;
	}
    </style>
    
    <!--  ////////////////////// JavaScript /////////////////////// -->
	<script type="text/javascript">
	$(function(){
    	$('#updateApplicant_5_btn').on("click", function(){
    		var applicantNo = $("div").find('#applicantNo').text().trim();
    		test(5,applicantNo)
    	});
    });
	
	$(function(){
    	$('#updateApplicant_3_btn').on("click", function(){
    		var applicantNo = $("div").find('#applicantNo').text().trim();
    		test(3,applicantNo)
    	});
    });
	
	function test(applicantStatus, applicantNo){
		$.ajax({
				url : "/applicant/json/updateApplicantStatus/"+applicantStatus+"/"+applicantNo,
				method : "get" ,
				dataType : "html" ,
				headers : {
					"Accept" : "application/json",
					"Content-Type" : "application/json"
				},
				success : function(JSONData , status) {
					console.log("성공")
					$('#deleteButton').empty();
					if(applicantStatus == '3'){
						$("#badge").attr('class', 'badge badge-pill badge-danger');
						$("#badge").text('거절');
					}else{
						$("#badge").attr('class', 'badge badge-pill badge-primary');
						$("#badge").text('참가중');
					}
				}
			})
		
	}
	
	$(function () {
        $("input[type=radio][name=options_1]").on("click",function () {
            categoryList();
        })
    })

	function categoryList() {
        let categoryList = new Array();

        $("input[name=options_1]:checked").each(function (i) {
            categoryList.push("searchConditionA="+$(this).val());
        })
        let param = "";
        categoryList.forEach( element => param+=element+"&");


        window.location.replace("/applicant/appliedProjectList?"+param);

    }

	</script>
	
<title>appliedProjectList</title>
</head>
<body>
	<div th:include="topToolBar.html" ></div>
	<div class="wrapper">
	<h4 class="display-3">신청한 프로젝트(팀원)</h4>
	
	<div class="row">
        <div class="category-box col-lg-3">
            <div class="searchCondition-list" style="display: inline-block; width : 90%;">
                <div class="sear">
                    <div>
						<a href="/applicant/appliedProjectList">신청 프로젝트</a><hr/>
					</div>
					<div>
						<a href="/applicant/endProjectList">완료 프로젝트</a><hr/>
					</div>
					<div>
						<a href="/applicant/applicantList">신청서 확인</a><hr/>
					</div>			                
                </div>
            </div>
            <div id="line"></div>
        </div>
	
	<div class="card-list-box col-lg-8">	
	<div class="searchCondition-list">
		<span style="margin: 0 20px;">리스트 정렬 기준</span>
		<span>

			<label class="btn btn-outline-primary">
				<input type="radio" name="options_1" id="option1" autocomplete="off" value="1"> 1개월
			</label>
			<label class="btn btn-outline-primary">
				<input type="radio" name="options_1" id="option2" autocomplete="off" value="2">2개월
        	</label>
			<label class="btn btn-outline-primary">
            	<input type="radio" name="options_1" id="option3" autocomplete="off" value="3">3개월
			</label>

	    </span>
	    
	    <span style="float:right;">
			<label class="btn btn-outline-primary">
				<input type="radio" name="options_2" id="option2" autocomplete="off" value="2">대기
			</label>
			<label class="btn btn-outline-primary">
				<input type="radio" name="options_2" id="option3" autocomplete="off" value="3">승인
			</label>
		</span>
	</div>

	<div id="card_2" th:each="applicantVO : ${appliedList}" style="width:100%; height:200px;">
       <div class="card h-100 ">
         <div class="card-body" style="overflow: hidden;">
         	<div style="float: left; width: 80%;">
				<div th:if="${applicantVO.applicantStatus}==1">
					<span class="badge badge-info">대기</span>
				</div>
				<div id="badge" th:if="${applicantVO.applicantStatus}==2">
					<span class="badge badge-success">승인</span>
				</div>
				<div th:if="${applicantVO.applicantStatus}==3">
					<span class="badge badge-pill badge-danger">거절</span>
				</div>
				<div th:if="${applicantVO.applicantStatus}==4">
					<span class="badge badge-pill badge-dark">취소</span>
				</div>
				<div th:if="${applicantVO.applicantStatus}==5">
					<span class="badge badge-pill badge-primary">참가중</span>
				</div>
				<h4 class="card-title">
					<a th:href="@{/project/getProject(projectNo=${applicantVO.projectVO.projectNo})}" th:text="${applicantVO.projectVO.projectName}"/>
				</h4>
			</div>
			<div th:if="${applicantVO.applicantStatus}==2">
				<div id="deleteButton" style="float: right; width: 17%;">
					<button id="updateApplicant_5_btn" type="button" class="btn btn-success" style="width:70px;">수락</button>
					<button id="updateApplicant_3_btn" type="button" class="btn btn-danger" style="width:70px;">거절</button>
					<div id="applicantNo" style="display:none" th:text="${applicantVO.applicantNo}"/>
				</div>
			</div>
				<div style="float: left; width: 80%; height:100px;">
					<div class="card-text" th:text="${applicantVO.projectVO.projectDetail}"></div>
				</div>
				<div style="float: right; width: 150px;">
					<p>
						<span>팀장명</span>
						<span style="float: right;" th:text="${applicantVO.projectVO.leaderId}"></span><p>
						<span>마감일</span>
						<span style="float: right;" th:text="${#dates.format(applicantVO.projectVO.applicationDeadline, 'MM/dd')}"></span><p>
					</p>
				</div>
			</div>

			<div class="card-footer" >
                <small class="text-muted">
                    <th:block th:if="${applicantVO.projectVO.meetingMethod == 1}">
                        <i class="fas fa-map-marker-alt"></i>
                        <span th:text="${applicantVO.projectVO.meetingLocation}"/>
                    </th:block>
                    <th:block th:if="${applicantVO.projectVO.meetingMethod == 2}">
                        <i class="fas fa-laptop"></i>
                        <span th:if="${applicantVO.projectVO.meetingMethod == 2}">비대면 (온라인)</span>
                    </th:block>
                </small>
			</div>
		</div>
		</div>
	</div>	
</div>

</body>
</html>