<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<!--  ////////////////////// Bootstrap /////////////////////// -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/lux/bootstrap.min.css">
	<!--  /////////////////////// JQuery //////////////////////// -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/bpopup/jquery.bpopup.min.js"></script>
    
    <!--  ///////////////////////// CSS ////////////////////////// -->
    <style>
    #card_1 { 
	overflow: hidden;
	text-overflow: clip;
	}
	.wrapper1 {
    float:none;
    width: 60%;
    margin: 100px auto;
	}
    </style>
	<!--  ////////////////////// JavaScript /////////////////////// -->
	<script type="text/javascript">
	</script>
	
<title>endProjectList</title>
</head>
<body>
	<div class="wrapper1">
	<h4 class="display-3">완료한 프로젝트(팀원)</h4>
	<hr class="my-4">
	<span>
		<button id="button_period_1" type="button" class="btn btn-outline-secondary">
		<a href="/applicant/appliedProjectList?searchConditionA=1">
		1개월</button></a>
		<button id="button_period_2" type="button" class="btn btn-outline-secondary">
		<a href="/applicant/appliedProjectList?searchConditionA=2">
		2개월</button></a>
		<button id="button_period_3" type="button" class="btn btn-outline-secondary">
		<a href="/applicant/appliedProjectList?searchConditionA=3">
		3개월</button></a>
	</span></p>

	<div id="card_2" th:each="applicantVO : ${appliedList}" style="height:150px;">
       <div class="card h-100 ">
         <div id="card_1" class="card-body">
         	<div style="float: left; width: 80%;">
				<div th:if="${applicantVO.applicantStatus}==6">
					<span class="badge badge-pill badge-primary">완료</span>
				</div>
				<h4 class="card-title">
				<a th:href="@{/project/getProject(projectNo=${applicantVO.projectVO.projectNo})}" th:text="${applicantVO.projectVO.projectName}"/>
				</h4>
			</div>
			<div th:if="${applicantVO.applicantStatus}==6">
				<div id="deleteButton" style="float: right; width: 17%;">
					<button id="updateApplicant_5_btn" type="button" class="btn btn-success" style="width:70px;">리뷰작성</button>
					<div id="applicantNo" style="display:none" th:text="${applicantVO.applicantNo}"/>
				</div>
			</div>
				<div style="float: left; width: 80%; height:100px;">
					<div class="card-text" th:text="${applicantVO.projectVO.projectDetail}"></div>
				</div>
				<div style="float: right; width: 17%;">
					<span>팀장명</span>
					<span style="float: right;" th:text="${applicantVO.projectVO.leaderId}"></span><p>
					<span>마감일</span>
					<span style="float: right;" th:text="${#dates.format(applicantVO.projectVO.applicationDeadline, 'MM/dd')}"></span><p>
				</div>
			</div>
			<div>
			<div style="height:32px;"/>
			</div>
			<div class="card-footer">
				<small class="text-muted">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
					<span th:text="${applicantVO.projectVO.meetingLocation}"/>
				</small>
			</div>
		</div>
	</div>	
	</div>
</body>
</html>