<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--  /////////////////////// JQuery //////////////////////// -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/bpopup/jquery.bpopup.min.js"></script>
	<!--  ////////////////////// Bootstrap /////////////////////// -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/lux/bootstrap.min.css"><!--  ////////////////////// JavaScript /////////////////////// -->
	<script type="text/javascript">
		$(function(){
	    	$('#updateApplicant_2_btn').on("click", function(){
	    		var applicantNo = $("div").find('#applicantNo').text().trim();
	    		test(2,applicantNo)
	    	});
	    });
		
		$(function(){
	    	$('#updateApplicant_3_btn').on("click", function(){
	    		var applicantNo = $("div").find('#applicantNo').text().trim();
	    		test(3,applicantNo)
	    	});
	    });
		
		function test(applicantStatus, applicantNo){
			$.ajax({
					url : "/applicant/json/updateApplicantStatus/"+applicantStatus+"/"+applicantNo,
					method : "get" ,
					dataType : "html" ,
					headers : {
						"Accept" : "application/json",
						"Content-Type" : "application/json"
					},
					success : function(JSONData , status) {
						console.log("성공")
						var displayValue = "신청서가 성공적으로 처리되었습니다."
						$('#delete').empty();
						$('#append').append(displayValue);
					}
				})
			
		}
	
	</script>
	
<title>getApplicant</title>
</head>
<body>
<form id="detailForm">
	    <h1><label for="Title" class="control-label">신   청   서</label></h1>
	    <br>


			<div th:if="${applicantVO.projectVO.applicantQuestionA}!=null">
				<strong><div style="font-weight:bold;" th:text="${applicantVO.projectVO.applicantQuestionA}"></div></strong>
				<div th:text="${applicantVO.applicantAnswerA}"></div><br/>
				
				<div th:if="${applicantVO.projectVO.applicantQuestionB}!=null">
					<strong><div style="font-weight:bold;" th:text="${applicantVO.projectVO.applicantQuestionB}"></div></strong>
					<div th:text="${applicantVO.applicantAnswerB}"></div><br/>
				
					<div th:if="${applicantVO.projectVO.applicantQuestionC}!=null">
						<strong><div style="font-weight:bold;" th:text="${applicantVO.projectVO.applicantQuestionC}"></div></strong>
						<div th:text="${applicantVO.applicantAnswerC}"></div><br/>
					</div>
				</div>
			</div>

		

			<label for="projectDetail" style="font-weight:bold;">자기소개</label>
			<div th:text="${applicantVO.introToMember}"></div>
			</br>

		
		<div th:if="${applicantVO.applicantStatus}==1" style="float:right;">
			<div id = "delete">
				<button type="button" id="updateApplicant_2_btn" class="btn btn-success btn-sm">수락</button>
				<button type="button" id="updateApplicant_3_btn" class="btn btn-primary btn-sm">거절</button>
				<div id="applicantNo" style="display:none" th:text="${applicantVO.applicantNo}"/>
			</div>
		</div>	
</form>
</body>
</html>