<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰작성</title>

    <link rel="stylesheet" href="/resources/css/additional.css">



</head>
<nav th:include="topToolBar.html"></nav>
<body style="background-color: #f7f7f9">
    <div class="container">

        <div id="myProjectHeader" class="row" >
            <h3 th:text="${myProject.projectName}"></h3>
            <hr class="my-4">
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form class="review-form" name="addReviewDTO" action="/project/addReviewer" method="post">
                    <table class="table table-hover">
                        <tr>
                            <td width="20%">팀원</td>
                            <td colspan="5">평가 작성</td>
                        </tr>

                        <th:block th:each="member,num:${myProject.teamMember}">
                            <th:block th:if="${member.userId}!=${session.user.userId}">
                                    <input type="hidden" th:name="|reviewList[${num.index}].userId|" th:value="${member.userId}">
                                    <input type="hidden" th:name="|reviewList[${num.index}].projectNo|" th:value="${myProject.projectNo}">
                                    <tr>
                                        <td width="20%">
                                            <img id="nav-profile-image" th:src="|/resources/uploadImg/${member.profileImg}|">
                                            <span th:text="${member.userId}"></span>
                                        </td>

                                        <td width="30%">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-outline-success active">
                                                    <input type="radio" th:name="|reviewList[${num.index}].reviewGrade|" autocomplete="off" checked="" value="1"> 추천
                                                </label>
                                                <label class="btn btn-outline-primary">
                                                    <input type="radio" th:name="|reviewList[${num.index}].reviewGrade|" autocomplete="off" value="0"> 보통
                                                </label>
                                                <label class="btn btn-outline-primary">
                                                    <input type="radio" th:name="|reviewList[${num.index}].reviewGrade|" autocomplete="off" value="-1"> 비추천
                                                </label>
                                            </div>
                                        </td>
                                        <td width="50%">
                                            <input type="text" class="form-control" placeholder="평가내용 작성" th:name="|reviewList[${num.index}].reviewComment|"
                                                   style="background-color: #F7F7F7; border:none; border-bottom: 2px solid #888;" autocomplete="off">
                                        </td>
                                    </tr>

                                    <tr><td colspan="100%"></td></tr>

                            </th:block>
                        </th:block>



                    </table>
                    <div class="row">
                    <button type="button" id="form-submit" class="btn btn-outline-primary" style="margin: 0 auto">작성 완료</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $('#form-submit').on("click", function () {
            $('.review-form').submit()
        })

    </script>
</body>
</html>