<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 찾기</title>

    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

<div class="wrapper">
    <h4 class="display-3">프로젝트 목록</h4>
    <div class="row">
        검색넣기
    </div>

    <div class="row">
        <div class="category-box col-lg-3">
            <div class="searchCondition-list" style="display: inline-block; width : 90%;">
                <div class="sear">
                    <h4>Project Category</h4><hr/>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="category1" value="1">
                        <label class="custom-control-label" for="category1"><a href="/">개발</a></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="category2" value="2">
                        <label class="custom-control-label" for="category2"><a href="/">기획</a></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="category3" value="3">
                        <label class="custom-control-label" for="category3"><a href="/">디자인</a> </label>
                    </div>
                </div>

                <div id="meeting-method">
                    <h4>MeetingMethod</h4><hr/>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="meeting1" value="1">
                        <label class="custom-control-label" for="meeting1"><a href="/">대면</a></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="meeting2" value="2">
                        <label class="custom-control-label" for="meeting2"><a href="/">비대면</a></label>
                    </div>
                </div>
            </div>
            <div id="line"></div>
        </div>


        <div class="card-list-box col-lg-8">
            <div class="searchCondition-list">
                <span style="margin: 0 20px;">리스트 정렬 기준</span>
                <div id="btn-box" class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-primary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked=""> 최신 등록
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="options" id="option2" autocomplete="off">모집 마감 임박
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="options" id="option3" autocomplete="off">조회수 높은
                    </label>
                </div>
            </div>
            <div class="project-box" th:each="project : ${projectList}" style="width:100%; height:200px;">
                <div class="card h-100">
                    <div class="card-body" style="overflow: hidden;">
                        <div style="float: left; width: 80%;">
                            <th:block th:switch="${project.projectStatus}">
                                <div th:case="1">
                                    <span class="badge badge-success">모집중</span>
                                </div>
                                <div th:case="2">
                                    <span class="badge badge-primary">모집완료</span>
                                </div>
                                <div th:case="3">
                                    <span class="badge badge-warning">모집종료</span>
                                </div>
                            </th:block>
                            <h4 class="card-title">
                                <a th:href="@{/project/getProject(projectNo=${project.projectNo})}"
                                   th:text="${project.projectName}"></a>
                            </h4>
                        </div>
                        <div id="bookmark-click" th:switch="${project.bookmarkNo}" style="float: right;">
                            <button th:case="0" class="btn btn-link" th:value="1">
                                <img style="width: 24px; height: 24px;" src="/resources/img/btn-icon-like-off.png">
                            </button>
                            <button th:case="*" class="btn btn-link" th:value="2">
                                <img style="width: 24px; height: 24px;" src="/resources/img/btn-icon-like-on.png">
                            </button>
                        </div>
                        <div class="card-text" th:text="${project.projectDetail}"></div>
                        <div style="float: right; width: 150px;">
                            <p>
                                <span>팀장명</span>
                                <span style="float: right;" th:text="${project.leaderId}"></span>
                                <br/>
                                <i class="fas fa-map-marker-alt"></i>
                                <span>마감일</span>
                                <span style="float: right;"
                                      th:text="${#dates.format(project.applicationDeadline, 'YYYY-MM-dd')}"></span>
                            </p>
                        </div>
                    </div>

                    <div class="card-footer">
                        <small class="text-muted">
                            <th:block th:if="${project.meetingMethod == 1}">
                                <i class="fas fa-map-marker-alt"></i>
                                <span th:text="${project.meetingLocation}"/>
                            </th:block>
                            <th:block th:if="${project.meetingMethod == 2}">
                                <i class="fas fa-laptop"></i>
                                <span th:if="${project.meetingMethod == 2}">비대면 (온라인)</span>
                            </th:block>


                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>