<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 찾기</title>

    <link rel="stylesheet" href="/resources/css/additional.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>

        $(function () {
            $("input[name=projectCategory]").on("click", function () {
                categoryList();
            })

            $('button[name=bookmarkControl]').on("click", function () {
                $.ajax({
                    type: 'POST',
                    url: '/project/addBookmark',
                    data: JSON.stringify({
                        userId: $('#userId').val(),
                        projectNo: $(this).attr("data-projectno"),
                        bookmarkNo: $(this).attr("data-bookmarkno"),
                        bookmarkControl: $(this).val()
                    }),
                    context: this,
                    contentType: 'application/json',
                    success: function (data) {

                        if ($(this).val() == "1") {
                            $(this).attr('value', 2);
                            $(this).attr('data-bookmarkno', data);
                            $(this).children().attr('src', '/resources/img/btn-icon-like-on.png')
                        } else {
                            $(this).attr('value', 1);
                            $(this).attr('data-bookmarkno', 0);
                            $(this).children().attr('src', '/resources/img/btn-icon-like-off.png')
                        }

                    },
                    error: function (e) {
                        alert("북마크 추가 실패 = " + e)
                    }
                });
            })
        })


        function categoryList() {
            let categoryList = new Array();

            $("input[name=projectCategory]:checked").each(function (i) {
                categoryList.push("projectCategory=" + $(this).val());
            })
            let param = "";
            categoryList.forEach(element => param += element + "&");


            window.location.replace("/project/getProjectList?" + param);

        }


    </script>
</head>
<body>
<div th:include="topToolBar.html"></div>
<div class="wrapper">
    <h4 class="display-3">프로젝트 목록</h4>
    <div class="row">
        검색넣기
    </div>

    <div class="row">
        <div class="category-box col-lg-3">
            <input type="hidden" id="userId" th:value="${session.user.userId}">
            <div class="searchCondition-list" style="display: inline-block; width : 90%;">
                <div class="sear">
                    <h4>Project Category</h4>
                    <hr/>
                    <div class="custom-control custom-checkbox">
                        <input th:checked="${checkedStatus.projectCategory!=null and checkedStatus.projectCategory.contains(1)}"
                               type="checkbox" class="custom-control-input" name="projectCategory" id="category1"
                               value="1">
                        <label class="custom-control-label" for="category1">개발</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input th:checked="${checkedStatus.projectCategory!=null and checkedStatus.projectCategory.contains(2)}"
                               type="checkbox" class="custom-control-input" name="projectCategory" id="category2"
                               value="2">
                        <label class="custom-control-label" for="category2">기획</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input th:checked="${checkedStatus.projectCategory!=null and checkedStatus.projectCategory.contains(3)}"
                               type="checkbox" class="custom-control-input" name="projectCategory" id="category3"
                               value="3">
                        <label class="custom-control-label" for="category3">디자인 </label>
                    </div>
                </div>

                <div id="meeting-method">
                    <h4>Meeting Method</h4>
                    <hr/>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="meeting1" value="1">
                        <label class="custom-control-label" for="meeting1"><a href="/">대면</a></label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="meeting2" value="2">
                        <label class="custom-control-label" for="meeting2"><a href="/">비대면</a></label>
                    </div>
                </div>
            </div>
            <div id="line"></div>
        </div>


        <div class="card-list-box col-lg-8">
            <div class="searchCondition-list">
                <span style="margin: 0 20px;">리스트 정렬 기준</span>
                <div id="btn-box" class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-primary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked=""> 최신 등록
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="options" id="option2" autocomplete="off">모집 마감 임박
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="options" id="option3" autocomplete="off">조회수 높은
                    </label>
                </div>
            </div>
            <div class="project-box" th:each="project : ${projectList}" style="width:100%; height:200px;">

                <div class="card h-100">
                    <div class="card-body" style="overflow: hidden;">
                        <div style="float: left; width: 80%;">
                            <th:block th:switch="${project.projectStatus}">
                                <div th:case="1">
                                    <span class="badge badge-success">모집중</span>
                                </div>
                                <div th:case="2">
                                    <span class="badge badge-primary">모집완료</span>
                                </div>
                                <div th:case="3">
                                    <span class="badge badge-danger">종료</span>
                                </div>
                            </th:block>
                            <h4 class="card-title">
                                <a th:href="@{/project/getProject(projectNo=${project.projectNo})}"
                                   th:text="${project.projectName}"></a>
                            </h4>
                        </div>
                        <div th:switch="${project.bookmarkNo}">
                            <button name="bookmarkControl" th:case="0" class="btn btn-secondary"
                                    th:value="1" th:data-bookmarkno="${project.bookmarkNo}"
                                    th:data-projectno="${project.projectNo}">
                                <img src="/resources/img/btn-icon-like-off.png">
                            </button>
                            <button name="bookmarkControl" th:case="*" class="btn btn-secondary"
                                    th:value="2" th:data-bookmarkno="${project.bookmarkNo}">
                                <img src="/resources/img/btn-icon-like-on.png">
                            </button>
                        </div>
                        <div class="card-text" th:text="${project.projectDetail}"></div>
                        <div style="float: right; width: 150px;">
                            <p>
                                <span>팀장명</span>
                                <span style="float: right;" th:text="${project.leaderId}"></span>
                                <br/>
                                <span>마감일</span>
                                <span style="float: right;"
                                      th:text="${#dates.format(project.applicationDeadline, 'YYYY-MM-dd')}"></span>
                            </p>
                        </div>
                    </div>

                    <div class="card-footer">
                        <small class="text-muted">
                            <th:block th:if="${project.meetingMethod == 1}">
                                <i class="fas fa-map-marker-alt"></i>
                                <span th:text="${project.meetingLocation}"/>
                            </th:block>
                            <th:block th:if="${project.meetingMethod == 2}">
                                <i class="fas fa-laptop"></i>
                                <span th:if="${project.meetingMethod == 2}">비대면 (온라인)</span>
                            </th:block>


                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>