<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
		
<mapper namespace="projectApplicantMapper">
	<resultMap id="applicantSelectMap" type="com.example.demo.projectApplicant.vo.ApplicantVO">
	        <result property="applicantNo"	    column="applicant_no"          jdbcType="NUMERIC"/>
	        <result property="projectNo"    column="hashtag"      jdbcType="VARCHAR"/>
			<result property="userId"    column="user_id"      jdbcType="NUMERIC"/>
			<result property="applicantStatus"    column="applicant_status"      jdbcType="NUMERIC"/>
			<result property="applicantAnswerA"    column="applicant_answer_a"      jdbcType="VARCHAR"/>
			<result property="applicantAnswerB"    column="applicant_answer_b"      jdbcType="VARCHAR"/>
			<result property="applicantAnswerC"    column="applicant_answer_c"      jdbcType="VARCHAR"/>
			<result property="introToMember"    column="intro_to_member"      jdbcType="VARCHAR"/>
	</resultMap>


	<resultMap id="testSelectMap" type="com.example.demo.projectApplicant.vo.TestHashVO">
		<result property="hashNo"	    column="hashtag_no"          jdbcType="NUMERIC"/>
		<result property="hashTag"    column="hashtag"      jdbcType="VARCHAR"/>
	</resultMap>

	<resultMap id="toDoSelectMap" type="com.example.demo.project.vo.TodoVO">
	        <result property="todoNo"	    column="todo_no"          jdbcType="NUMERIC"/>
	        <result property="projectNO"    column="project_no"      jdbcType="NUMERIC"/>
			<result property="todoContent"    column="user_id"      jdbcType="VARCHAR"/>
			<result property="userId"    column="todo_content"      jdbcType="VARCHAR"/>
			<result property="todoStatus"    column="todo_status"      jdbcType="NUMERIC"/>
	</resultMap>

	<resultMap id="reviewSelectMap" type="com.example.demo.project.vo.ReviewVO">
	        <result property="reviewNo"	    column="review_no"          jdbcType="NUMERIC"/>
	        <result property="projectNO"    column="project_no"      jdbcType="NUMERIC"/>
			<result property="reviewGrade"    column="review_grade"      jdbcType="VARCHAR"/>
			<result property="reviewComment"    column="review_comment"      jdbcType="VARCHAR"/>
			<result property="userId"    column="user_id"      jdbcType="NUMERIC"/>
	</resultMap>

<insert id="test" parameterType="com.example.demo.projectApplicant.vo.TestHashVO"> 
	INSERT
	INTO hashtag
	VALUES(#{hashNo}, #{hashTag})
</insert>

</mapper>