<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
		
<mapper namespace="applicantMapper">
	<resultMap id="applicantSelectMap" type="com.example.demo.projectApplicant.vo.ApplicantVO">
	        <result property="applicantNo"	    column="applicant_no"          jdbcType="NUMERIC"/>
	        <result property="projectNo"    column="hashtag"      jdbcType="VARCHAR"/>
			<result property="userId"    column="user_id"      jdbcType="NUMERIC"/>
			<result property="applicantStatus"    column="applicant_status"      jdbcType="NUMERIC"/>
			<result property="applicantAnswerA"    column="applicant_answer_a"      jdbcType="VARCHAR"/>
			<result property="applicantAnswerB"    column="applicant_answer_b"      jdbcType="VARCHAR"/>
			<result property="applicantAnswerC"    column="applicant_answer_c"      jdbcType="VARCHAR"/>
			<result property="introToMember"    column="intro_to_member"      jdbcType="VARCHAR"/>
			
			<association property="projectVO"  javaType="com.example.demo.project.vo.ProjectVO">
				<id property="projectNo" 		column="project_no" 		jdbcType="NUMERIC"/>
				<result property="applicantQuestionA"		column="applicant_question_a" 			jdbcType="VARCHAR"/>
				<result property="applicantQuestionB" 	column="applicant_question_b" 		jdbcType="VARCHAR"/>
				<result property="applicantQuestionC" 	column="applicant_question_c" 	jdbcType="VARCHAR"/>
			</association>
	</resultMap>


	<resultMap id="testSelectMap" type="com.example.demo.projectApplicant.vo.TestHashVO">
		<result property="hashNo"	    column="hashtag_no"          jdbcType="NUMERIC"/>
		<result property="hashTag"    column="hashtag"      jdbcType="VARCHAR"/>
	</resultMap>

	<resultMap id="toDoSelectMap" type="com.example.demo.project.vo.TodoVO">
	        <result property="todoNo"	    column="todo_no"          jdbcType="NUMERIC"/>
	        <result property="projectNO"    column="project_no"      jdbcType="NUMERIC"/>
			<result property="todoContent"    column="user_id"      jdbcType="VARCHAR"/>
			<result property="userId"    column="todo_content"      jdbcType="VARCHAR"/>
			<result property="todoStatus"    column="todo_status"      jdbcType="NUMERIC"/>
	</resultMap>

	<resultMap id="reviewSelectMap" type="com.example.demo.common.vo.ReviewVO">
	        <result property="reviewNo"	    column="review_no"          jdbcType="NUMERIC"/>
	        <result property="projectNO"    column="project_no"      jdbcType="NUMERIC"/>
			<result property="reviewGrade"    column="review_grade"      jdbcType="VARCHAR"/>
			<result property="reviewComment"    column="review_comment"      jdbcType="VARCHAR"/>
			<result property="userId"    column="user_id"      jdbcType="NUMERIC"/>
	</resultMap>
	
	<select id="getApplicant" parameterType="int" resultMap="applicantSelectMap">
		SELECT 
		P.APPLICANT_QUESTION_A,
		P.APPLICANT_QUESTION_B,
		P.APPLICANT_QUESTION_C,
		A.APPLICANT_NO,
		A.USER_ID,
		A.PROJECT_NO,
		A.APPLICANT_ANSWER_A,
		A.APPLICANT_ANSWER_B,
		A.APPLICANT_ANSWER_C,
		A.INTRO_TO_MEMBER
		FROM
		PROJECT P, APPLICANT A
		WHERE
		P.PROJECT_NO = A.PROJECT_NO
		AND
		APPLICANT_NO = #{applicantNo}
	</select>
	
	<insert id="addApplicant" parameterType="ApplicantVO">
		INSERT
		INTO applicant(
			APPLICANT_NO,
			USER_ID,
			PROJECT_NO,
			APPLICANT_STATUS,
			APPLICANT_ANSWER_A,
			APPLICANT_ANSWER_B,
			APPLICANT_ANSWER_C,
			INTRO_TO_MEMBER
		)
		VALUES(
			#{applicantNo},
			#{userId},
			#{projectVO.projectNo},
			1,
			#{applicantAnswerA:VARCHAR},
			#{applicantAnswerB:VARCHAR},
			#{applicantAnswerC:VARCHAR},
			#{introToMember}
		)
	 </insert>
	 
	 <select  id="getApplicantList"  parameterType="com.example.demo.common.vo.SearchVO"	resultMap="applicantSelectMap">
	 	SELECT *
		FROM ( SELECT inner_table.*, ROWNUM AS row_seq
			FROM ( SELECT m.profile_image, a.user_id
				FROM member m, applicant a
				WHERE m.user_id = a.user_id
				ORDER BY a.applicant_no) inner_table
			WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}	 	
	 </select>
	 
	 <select  id="getTotalCount"  parameterType="com.example.demo.common.vo.SearchVO"	 resultType="int">
	 	SELECT COUNT(*)
	  	FROM(	
  			SELECT m.profile_image, a.user_id
			FROM member m, applicant a
			WHERE m.user_id = a.user_id
			ORDER BY a.applicant_no 
			) countTable		
	 </select>
	 
	 
</mapper>