<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
		
<mapper namespace="applicantMapper">

	<resultMap id="testSelectMap" type="com.example.demo.projectApplicant.vo.TestHashVO">
		<result property="hashNo"	    column="hashtag_no"          jdbcType="NUMERIC"/>
		<result property="hashTag"    column="hashtag"      jdbcType="VARCHAR"/>
	</resultMap>



</mapper>