<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AprojectMapper">

	<resultMap id="projectSelectMap" type="projectVO">
		<id		property="projectNo"	    		column="project_no"         		jdbcType="INTEGER"/>
		<result property="leaderId"    				column="user_id"      				jdbcType="VARCHAR"/>
		<result property="projectName" 				column="project_name"      			jdbcType="VARCHAR"/>
		<result property="progressClassification"   column="progress_Classification"    jdbcType="NUMERIC"/>
		<result property="projectCategory"    		column="project_category"      		jdbcType="NUMERIC"/>
		<result property="preStartDate"    			column="pre_start_date"      		jdbcType="DATE"/>
		<result property="prePeriod"    			column="pre_period"      			jdbcType="NUMERIC"/>
		<result property="regDate"    				column="reg_date"      				jdbcType="DATE"/>
		<result property="applicationDeadline"    	column="application_deadline"      	jdbcType="DATE"/>
		<result property="meetingMethod"    		column="meeting_method"      		jdbcType="NUMERIC"/>
		<result property="meetingLocation"    		column="meeting_location"      		jdbcType="VARCHAR"/>
		<result property="applicantQuestionA"    	column="applicant_question_a"      	jdbcType="VARCHAR"/>
		<result property="applicantQuestionB"    	column="applicant_question_b"      	jdbcType="VARCHAR"/>
		<result property="applicantQuestionC"    	column="applicant_question_c"      	jdbcType="VARCHAR"/>
		<result property="projectViewCnt"    		column="project_view_cnt"      		jdbcType="NUMERIC"/>
		<result property="projectStatus"    		column="project_status"      		jdbcType="NUMERIC"/>
		<result property="endProjectCnt"    		column="endProject_cnt"   			jdbcType="NUMERIC"/>
		<result property="projectDetail"    		column="project_detail"      		jdbcType="VARCHAR"/>
		<result property="endDate"    				column="end_date"      				jdbcType="DATE"/>
		<result property="recruitmentMemberCnt"    	column="recruitment_member_cnt"      	jdbcType="NUMERIC"/>

		<!-- association -->
		<association property="applicantsCnt"			column="project_no"		select="getApplicantsCntByProjectNo"/>

		<!-- collection -->
		<collection property="teamMember" 	column="project_no" javaType="java.util.ArrayList" ofType="memberVO" select="getProjectMemberByProjectNo"/>
		<collection property="skillHashTag" column="project_no" select="getProjectHashTagByProjectNo"/>
		<collection property="projectReply" column="project_no" select="getProjectReplyByProjectNo"/>
	</resultMap>

	<select id="getApplicantsCntByProjectNo" resultType="int">
		SELECT COUNT(*)
		FROM APPLICANT
		WHERE PROJECT_NO = #{project_no}
	</select>

	<select id = "getProjectMemberByProjectNo" resultType="memberVO">
		SELECT USER_ID as userId, PROFILE_IMAGE as profileImg
		FROM MEMBER
		WHERE PROJECT_NO = #{projectNo}
	</select>

	<select id = "getProjectHashTagByProjectNo" resultType="java.lang.String">
		SELECT HASHTAG
		FROM SKILL_HASHTAG sh, HASHTAG h
		WHERE sh.HASHTAG_NO = h.HASHTAG_NO AND sh.PROJECT_NO = #{project_no}
	</select>

	<select id = "getProjectReplyByProjectNo" resultType="replyVO">
		SELECT REPLY_NO as replyNo,
			   USER_ID as replyUserId,
			   REPLY_CONTENT as replyContent,
			   REG_DATE as replyRegDate
		FROM REPLY
		WHERE PROJECT_NO = #{projectNo}
	</select>
	
	<select  id="getAppliedProjectList"  parameterType="com.example.demo.common.vo.SearchVO"	resultMap="projectSelectMap">
	 	SELECT *
		FROM ( SELECT inner_table.*, ROWNUM AS row_seq
			FROM ( 
				SELECT
				p.project_name,
				p.project_detail,
				p.reg_date,
				p.user_id,
				p.application_deadline,
				p.recruitment_member_cnt
				FROM
				applicant a, project p
				WHERE
				a.project_no = p.project_no AND
				a.user_id = #{userId}
				<if test="searchConditionB != null">
					<if test = "searchConditionB == 1" >
						AND a.applicant_status = 1
					</if>
					<if test = "searchConditionB == 2" >
						AND a.applicant_status = 2
					</if>
					<if test = "searchConditionB == 3" >
						AND a.applicant_status = 3
						AND a.applicant_status = 4
					</if>
				</if>
				ORDER BY a.APPLICANT_NO
				) inner_table
			WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}	 	
	 </select>

</mapper>