<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<meta charset="UTF-8">
<head>
    <title>프로필 기본정보</title>
</head>

<body>
<div th:include="topToolBar.html"></div>
<form th:action="@{/profile/addMyProfile}" th:method="post" enctype="multipart/form-data">
<input type="hidden" id="userId" name="userId" th:value="${profile.getUserId()}"/>

<input type="file" name="imageFile"><br/>

아이디 :
<div th:text="${profile.userId}"></div>
이름 :
<div th:text="${profile.name}"></div>
이메일 :
<div th:text="${profile.email}"></div>
등급 :
<div th:text="${profile.grade}"></div>
신고 누적 수 :
<div th:text="${profile.reportCnt}"></div>

    자기소개 : <input type="text" name="selfIntro" th:value="${profile.selfIntro}" autocomplete="off"></br>
    링크 : <input type="text" name="link" th:value="${profile.link}" autocomplete="off"></br>

    <input type="submit" value="등록완료">
</form>


</body>