<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="profileMapper">
    <resultMap id="profileSelectMap" type="com.example.demo.member.vo.MemberVO">
        <result property="userId" column="user_id"  jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="VARCHAR"/>
        <result property="profileImg" column="profile_image" jdbcType="VARCHAR"/>
        <result property="lastLoginDate" column="last_login_date" jdbcType="DATE"/>
        <result property="regDate" column="reg_date" jdbcType="DATE"/>
        <result property="projectWithdrawalDate" column="project_withdrawal_date" javaType="DATE"/>
        <result property="reportCnt" column="report_cnt" jdbcType="NUMERIC"/>
        <result property="selfIntro" column="self_intro" jdbcType="VARCHAR"/>
        <result property="status" column="member_status" jdbcType="VARCHAR"/>


    <!-- collection -->
    <collection property="noti" column="noti_no" javaType="java.util.ArrayList" ofType="com.example.demo.common.vo.NotiVO" select="getNotiList"/>
        <collection property="review" column="project_no" javaType="java.util.ArrayList" ofType="com.example.demo.common.vo.ReviewVO" select="getReviewList"/>
        <collection property="skillHashTag" column="user_id" javaType="java.util.ArrayList" ofType="java.lang.String" select="getProfileHashTagByUserId"/>
        <collection property="portfolio" column="user_id" javaType="java.util.ArrayList" ofType="com.example.demo.portfolio.vo.PortfolioVO" select="getAllProfileList"/>
    </resultMap>

    <update id="updateMyProfile" parameterType="com.example.demo.profile.dto.ProfileDTO$UpdateMyProfileDTO">
        UPDATE MEMBER
        SET self_intro = #{selfIntro:VARCHAR},
            profile_image = #{profileImg:VARCHAR},
            link = #{link:VARCHAR}
        WHERE user_id = #{userId}
    </update>

    <update id="updateLink" parameterType="com.example.demo.profile.dto.ProfileDTO$UpdateMyProfileDTO">
        UPDATE member
        SET link = #{link}
        WHERE user_id = #{userId}
    </update>


    <select id="getMyProfile" parameterType="string" resultType="com.example.demo.profile.dto.ProfileDTO$GetMyProfileDTO">
        SELECT user_id as userId,
               email,
               name,
               grade,
               report_cnt as reportCnt,
               profile_image as profileImg,
               self_intro as selfIntro,
               link
        FROM member
        WHERE user_id = #{user_id}
    </select>

    <select id="getAdminProfile" parameterType="string" resultType="com.example.demo.profile.dto.ProfileDTO$GetAdminProfileDTO">
        SELECT user_id as userId,
               email,
               name,
               role
        FROM member
        WHERE user_id = #{user_id} AND role = 'ADMIN'
    </select>

    <select id="getAllProfileList" parameterType="string" resultType="com.example.demo.portfolio.vo.PortfolioVO" resultMap="profileSelectMap">
        SELECT m.user_id as userId,
               m.self_intro as selfIntro,
               m.link,
               p.portfolio_no as portNo,
               p.port_title,
               p.reg_date

        FROM member m, portfolio p
        WHERE m.user_id = #{userId} AND
              m.user_id = p.user_id


    </select>

    <select id="getReviewList" parameterType="com.example.demo.common.vo.ReviewVO" resultMap="profileSelectMap">
        SELECT review_no as reviewNo,
               user_id as userId,
               project_no as projectNo,
               review_grade as reviewGrade,
               review_comment as reviewComment
        FROM review
        WHERE project_no = #{projectNo}
    </select>

    <select id="getBookmarkList" parameterType="com.example.demo.common.vo.BookmarkVO" resultMap="profileSelectMap">
        SELECT bookmark_no as bookmarkNo,
               user_id as userId,
               post_no as postNo,
               project_no as projectNo
        FROM bookmark
        WHERE user_id = #{userId}
    </select>

    <select id="getProfileHashTagByProfileNo" resultType="java.lang.String">
        SELECT hashtag
        FROM skill_hashtag as sh, hashtag as h
        WHERE sh.skill_hashTag_no = h.hashTag_no
          AND sh.user_id = #{user_id}
    </select>





</mapper>