<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"/>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/bpopup/jquery.bpopup.min.js"></script>



    <script type="text/javascript"></script>

</head>
<body>
<div> 게시물 목록</div>
</br></br>
    <!--<tr th:each="list : ${postList}">
        <td th:text="${list}">목록</td>-->
    </tr>

</body>