<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"/>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/lux/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/bpopup/jquery.bpopup.min.js"></script>


    <script type="text/javascript">




    </script>

</head>
<body>
<div> 게시물 목록</div>

</br></br>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성날짜</th>
        <th>조회수</th>
        <th>댓글수</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="postVO : ${postList}">
        <td th:text="${postVO.postNo}"></td>
<!--        <td th:text="${postVO.postName}"></td>-->
        <td>
            <a th:href="@{/comm/getPost(postNo=${postVO.postNo})}"
           th:text="${postVO.postName}"></a>
        </td>
        <td th:text="${postVO.userId}"></td>
        <td class=""    th:text="${#dates.format(postVO.regDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${postVO.viewCnt}"></td>
        <td th:text="${postVO.replyCnt}"></td>
    </tr>

     <td class="">
        <a th:href="@{/comm/addPost}"/>작성
    </td>

    </tbody>
</table>
</body>