<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/bpopup/jquery.bpopup.min.js"></script>

    <script type="text/javascript">


    </script>
<title>게시물 상세조회</title>
</head>
<body>
<!--<form th:action="@{/post/getPost}" th:method="get">-->
    <input type="hidden"    name="postNo"      th:value="${postVO.postNo}">
<!--    <div th:text="${postVO.postNo}">번호</div>-->
    <div th:text="${postVO.postName}">제목</div>
    <div th:text="${postVO.userId}">작성자</div>
    <div th:text="${#dates.format(postVO.regDate, 'yyyy-MM-dd')}">작성날짜</div>
<!--    <div th:text="${postVO.postContent}">내용</div>-->
    <textarea cols="80" rows="40" name="postContent"     th:text="${postVO.postContent}">내용</textarea><br>


    <a th:href="@{/comm/getPostList}">목록</a>
    <a th:href="@{/comm/updatePost(postNo=${postVO.postNo})}">수정</a>
    <a th:href="@{/comm/deletePost}">삭제</a>

<!--에이작스 포스트방식으로 댓글 리퀘스트-->

</body>