<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" href="/resources/css/additional.css" type="text/css">

    <style>
        table {
            text-align: center;
        }
        .postNo {
            width: 5%;
        }

        .postName{
            width: 55%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .userid {
            width: 15%;
        }

        .regdate {
            width: 15%;
        }

        .viewcnt {
            width: 10%;
        }

        @media screen and (max-width: 992px) {
            .regdate, .viewcnt {
                display: none;
            }
        }
    </style>


</head>
<nav th:include="topToolBar.html"></nav>
<body >
<div class="container mt-5" style="margin-bottom: 200px">
    <div class="mr-3">
        <a id="add_post_btn" class="btn btn-success " th:href="@{/comm/addPost}"><i class="fa fa-pencil"></i> 새 글 작성</a>
    </div>
    <div class="float-left" style="margin-bottom: 200px">
        <table class="col-md-12 table table-hover">
            <thead>
            <tr>
                <th class="postNo" scope="col">번호</th>
                <th class="postName" scope="col">제목</th>
                <th class="userid" scope="col">작성자</th>
                <th class="regdate" scope="col">작성날짜</th>
                <th class="viewcnt" scope="col">조회수</th>
            </tr>
            </thead>

            <tbody id="postList">
            <tr scope="row" th:each="postVO, index : ${postList}">
                <td class="postNo"><span th:text="${index.index+1}"></span></td>
                <td class="postName pl-4 pt-3" style="text-align: left;">
                    <a th:href="@{/comm/getPost(postNo=${postVO.postNo})}"
                       th:text="${postVO.postName}"></a>
                </td>
                <td class="userid"><span th:text="${postVO.userId}"></span></td>
                <td class="regdate"><span th:text="${#dates.format(postVO.regDate, 'yyyy-MM-dd')}"></span></td>
                <td class="viewcnt"><span th:text="${postVO.viewCnt}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">

    var maxHeight = $(document).height();
    var currentScroll = $(window).scrollTop() + $(window).height();


    let count = 1;//스크롤 바닥 감지
    window.onscroll = function (e) {//추가 임시콘텐츠
        //window height + window scroll 값이 document height 보다 클 경우.
        if (maxHeight <= currentScroll + 100) {
            //실행할 로직(컨텐츠 추가)
            count++;

            $.ajax({
                type: 'GET',
                url: '/comm/getPostListJSON',
                data: {
                    currentPage: count
                },
                contentType: 'application/json',
                success: function (data) {
                    let count = $('#postList').children(':last').children('.postNo').children().text()
                    console.log("count :: " + count)

                    if (data == '') {
                        alert("마지막 페이지 입니다.")
                        currentPage--;
                    } else {
                        let array = data;
                        let html = "";

                        for (i in array) {
                            count++;
                            html += createCardBox(array[i],count);
                        }

                        $("#postList").append(html);
                    }

                },
            })
        }
    };

    function createCardBox(elem,count) {
        let regDate = elem.regDate.substring(0,10);
        let rtnHtml = `
        <tr scope="row">
                <td class="postNo"><span>`+count+`</span></td>
                <td class="postName pl-4 pt-3" style="text-align: left;">
                    <a href="/comm/getPost?postNo=`+elem.postNo+`">`+elem.postName+`</a>
                </td>
                <td class="userid"><span>`+elem.userId+`</span></td>
                <td class="regdate"><span>`+regDate+`</span></td>
                <td class="viewcnt"><span>`+elem.viewCnt+`</span></td>
            </tr>`

        return rtnHtml;
    }

</script>
</body>



















