.wrapper1 {
    float:none;
    width: 90%;
    margin: 100px auto;
}

#get_applicant_pop_up { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 200px;
	}
	
.b-close{
   cursor:pointer;
   position:absolute;
   right:10px;
   top:5px;
}