textarea {
    padding:50px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 500px;
}

.wrapper {
    margin: 100px auto;
}
.container {

}

.page-name {
    width: 100%;
    margin: 0 0 100px 0;
}

.form-group {
    margin: 100px 0;
}

#addProject {
    width: 100%;
}
