.navbar-nav {
    float:left;
    width: 100%;
}

.navbar-nav > li:last-child {
    margin-left : auto;
}

#nav-profile-image {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 16px;
}

#nav-login-id {
    margin-left: 10px;
    color : #fff;
}

.fix {
    z-index: 5000;
    position:fixed;
    width: 100%;
    height: 50px;
    animation: down 0.5s ease
}

@keyframes down {
    0%{
        transform: translateY(-50px)
    }
    100%{
        transform: translateY(0px)
    }
}