<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>

        .category-box {
            margin: 20px 20px;
            display: inline-block;
            text-align: center;
            padding: 30px;
            width: 25%;
            height: 100%;
        }


    </style>
</head>
<nav th:include="topToolBar.html"></nav>
<body style="height: 1500px;">
<div class="container">
    <header>

    </header>
    <h1 style="margin-top :100px;">image</h1>
    <hr>



		<div class="welcome-project-box" th:each="project : ${projectList}" >
			<div style="float: left; width: 80%;">
					<div style="float: left;">
						<a th:href="@{/project/getProject(projectNo=${project.projectNo})}"
	                       th:text="${project.projectName}"></a>
					</div>
			</div>
		</div>
		

		
		<div class="welcome-community-box" th:each="postVO : ${postList}" >
			<div style="float: left; width: 80%;">
				<div style="float: left;">
					<a th:href="@{/comm/getPost(postNo=${postVO.postNo})}"
					th:text="${postVO.postName}"></a>
				</div>
			</div>
		</div>
		
    
</div>
</body>
</html>