<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/lux/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/bpopup/jquery.bpopup.min.js"></script>

    <style>
        #add_portfolio_get_pop_up {
            background-color:#fff;
            border-radius:15px;
            color:#000;
            display:none;
            padding:20px;
            min-width:400px;
            min-height: 200px;
        }
        .b-close{
            cursor:pointer;
            position:absolute;
            right:10px;
            top:5px;
        }
    </style>

    <script type="text/javascript">

        <!-- 레이어 팝업 -->
        ;(function ($){
            // DOM Ready
            $(function (){
                $('#add_portfolio_get').bind('click', function (e){
                    e.preventDefault();

                    $('#add_portfolio_get_pop_up').bPopup();
                });

            });
        })(jQuery);

        $(function (){
            $('#add_portfolio_post').on("click",function (){
                $('#detailForm').submit();
            });
        });

        <!-- RestController 공부용 -->
        $(function(){
            console.log($("td[name='등록일자']").text());/*이름으로 접근하는 건 요기요기~~*/
        })

        console.log()

        $(function (){  /*제이쿼리를 쓰겠다 선언*/
            /*id class name 으로 접근하는 3가지 방법이 있다 id가 유니크해서  id로 접근하는 게 쉬움(모든 태그에서 id가 겹치면 안됨)
            * 개개인은 id로 하고 class는 여러가지할 때 선택*/
            $("#test").on("click",function (){/*#을 붙이면 id를 불러온단 소리다 class는 .이다*/
                $.ajax({
                    url:"/restPortfolio/portList",
                    type:"get",/*리스트를 받아와서 get임*/
                    contentType:"application/json",/*제이슨을 쓰겠다 선언*/
                    /*dataType:"json",*/
                    /*data:"" 넘겨줄 값인데 여기서는 id니까 세션으로 해결 가능 그래서 안 써줘도 됨*/
                    success:function(data){
                        /*서버에서 리턴값을 불러오길 성공했을 때 실행되는 function*/
                        alert(data)
                        /*여기까지 쓰고 레스트컨트롤러 ㄱ*/
                    }
                })
            })
        })
    </script>
    <title>포트폴리오 목록</title>
</head>
<body>

<table width="100%" border="0" cellpadding="0" style="margin-top:10px;">
    <thead>
    <tr>
        <!--<th class="column-title" width="100"></th>-->
        <th class="column-title" width="100">제목</th>
        <th class="column-title" width="100">작성날짜</th>
        <!--<th class="column-title" width="100"></th>-->
    </tr>

    <tr>
        <td colspan="11" bgcolor="808285" height="1"></td>
    </tr>
    </thead>

    <tbody>
    <tr class="" th:each="portfolioVO:${portfolio}">
        <td>
        <a th:href="@{/port/getPort(portNo=${portfolioVO.portNo})}"
        th:text="${portfolioVO.portTitle}"></a></td>
        <!--<td class="" th:text="${#dates.format(portfolioVO.regDate,'yyyy-mm-dd')}"></td>-->
        <td th:text="${portfolioVO.regDate}" name="등록일자"></td>

    </tr>

<!--<td class="">
      <a th:href="@{/port/addPort}"/>글쓰기
    </td>-->
    <button id="add_portfolio_get" class="btn btn-default">포트폴리오 등록</button>
    <div id="add_portfolio_get_pop_up" class="layerpop" background-color: white; style="width: 700px; height: 350px; overflow:auto;">
    </tbody>

</table>

<button id="test" value="button">
    버튼
</button>

</body>
</html>


