<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>

    <title>포트폴리오 상세보기</title>

</head>
<body>
<form th:action="@{/port/getPort}" th:method="get">
    <input type="hidden" id="portNo" name="portNo" th:value="${portfolio.getPortNo()}"/>
제목 : <div th:text="${portfolio.portTitle}"></div>
인원 수 : <div th:text="${portfolio.portMemberCnt}"></div>
시작일 : <div th:text="${portfolio.portProjectStartDate}"></div>
종료일 : <div th:text="${portfolio.portProjectEndDate}"></div>
해시태그 : <div th:text="${portfolio.portSkillTag}"></div>
설명글 : <div th:text="${portfolio.portDescription}"></div>

<input type="submit" value="확인">
    <a th:href="@{/port/updatePort(portNo=${portfolio.portNo})}">수정</a>

    <!--
    #은 수정 전 페이지를 의미하는 것   ????
    <a href="#" th:href="@{/port/updatePort/{portNo}(portNo=${portfolio.portNo})}">수정</a>
    -->

</form>
</body>
